<% include partials/header.ejs %>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="aqua-blue">
                        <i class="fas fa-tshirt"></i>
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Choices
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Membership</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="title">
            <h1>The
                <span class="big-text">
                    <span class="fancy-text">Best Damn</span> Underwear</span> You Will Ever Wear.</h1>
            <p>Comfort Garunteed Or Your Money Back.</p>
            <p>Go Ahead...Give Us A Try.</p>
            <a class="btn btn-primary btn-lg" href="#"> Just A Click Away
                <i class="far fa-caret-square-right"></i>
            </a>
        </div>
    </header>
    <div class="top-icon">
        <i class="fas fa-tshirt fa-7x"></i>
    </div>
    <div class="container main-text">
        <h2>Why
            <span class="aqua-blue">TFTB</span> Is The Best Damn Solution</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis
            architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero
            hic!
        </p>
    </div>
    <div class="container">
        <div class="middle-content">

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/women.jpg">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/membership.jpg">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/packs.jpg">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/men.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h2>Fancy Undies For Days</h2>
        <div class="icon-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <i class="fas fa-smile fa-7x"></i>
                        <h3>Fancy Pants</h3>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <i class="fas fa-smile fa-7x"></i>
                        <h3>More Fancy Pants</h3>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <i class="fas fa-smile fa-7x"></i>
                        <h3>Last Fancy Pants</h3>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <i class="fas fa-smile fa-7x"></i>
                        <h3>Jk One More Fancy Pants</h3>
                    </div>
                </div>

            </div>

        </div>
        <div class="mid-bar">
            <div class="content">
                <div class="container">
                    <h3 style="text-align: center">Become A Member
                        <a class="btn btn-primary" href="#"> Just A Click Away
                            <i class="far fa-caret-square-right"></i>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 id="pricing-text">Pricing Options</h2>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img class="cards" src="https://i.ebayimg.com/images/g/XZ0AAOSwEetV-Cb4/s-l300.jpg" alt="Pricing">
                </div>
                <div class="col-md-6 col-sm-6">
                    <img class="cards" src="https://i.ebayimg.com/images/g/XZ0AAOSwEetV-Cb4/s-l300.jpg" alt="Pricing">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h2 class="merch-text">Check Out Our Latest
            <span class="aqua-blue fancy-text">Styles</span>
        </h2>
        <div class="modeling">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img class="thumb" src="https://s-media-cache-ak0.pinimg.com/originals/17/3a/f5/173af5d4f484cd570bd34d3ecb579d81.jpg">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img class="thumb" src="https://ae01.alicdn.com/kf/HTB166h5KFXXXXbBXFXXq6xXFXXXT/2015-hot-new-brand-campaign-skeleton-skull-t-shirt-women-summer-casual-shirt-printing-short-black.jpg">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img class="thumb" src="https://static.boredpanda.com/blog/wp-content/uploads/2017/08/white-models-sell-black-girl-magic-shirts-zazzle-3.jpg">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img class="thumb" src="https://cdn.shopify.com/s/files/1/1278/6545/products/Great-Outdoors-RGL2662-MODEL_1024x1024.jpg?v=1527556416">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mid-bar">
        <div class="content">
            <h2 class="main-text mid-bar-text">Thongs For The
                <span class="fancy-text">Boiz</span> Has Over 6 Million Happy Customers
                <i class="fas fa-smile"></i>
            </h2>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <p class="p-foot push-down">Shop</p>
                    <p class="p-foot">
                        <a href="#">Men</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Women</a>
                    </p>>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="p-foot push-down">Offers</p>
                    <p class="p-foot">
                        <a href="#">Membership</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Gift</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Group Orders</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Coupon Code</a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="p-foot push-down">About</p>
                    <p class="p-foot">
                        <a href="#">Our Story</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Our Underwear</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Our Factories</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Jobs</a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="p-foot push-down">Account</p>
                    <p class="p-foot">
                        <a href="#">Login</a>
                    </p>
                    <p class="p-foot">
                        <a href="#">Join</a>
                    </p>
                </div>
            </div>
            <p class="terms">
                <a href="#">Terms &amp; Conditions </a>|
                <a href="#"> Privacy Policy </a>|
                <a href="">&copy; Copyright thongsfortheboiz</a>
            </p>
        </div>
    </footer>


    <% include partials/footer.ejs %>