<% include partials/header.ejs %>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TFTB</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Choices
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Membership</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-content">
                <h1>The Most Comfortable Underwear</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus facilis voluptas ipsam veniam
                    iste consequuntur voluptatibus, molestiae magni at optio sunt possimus, odit modi quam! Voluptates temporibus
                    deserunt praesentium?</p>
            </div>
        </div>
        <img class="image-banner" src="https://meundies.imgix.net//df2iqnjv15ch4.cloudfront.net/meundies/home_banners/desktop_banner_images/000/000/074/original/nonpurchaser-dk-3840x1800-_2x.jpg?1529014610?auto=format%2Ccompress"
            alt="banner ">
    </div>

    <div class="container">
        <h2 style="text-align: center">Some Amazing Underwear</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#" class="thumbnail">
                    <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/membership.jpg">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="thumbnail">
                    <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/membership.jpg">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="thumbnail">
                    <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/membership.jpg">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="thumbnail">
                    <img src="//df2iqnjv15ch4.cloudfront.net/ga-experiments/homepage/category-nav/membership.jpg">
                </a>
            </div>
        </div>
        <% include partials/footer.ejs %>